<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>


<p>Splurty was built by <a target="_blank" href="https://github.com/tinaylee/">Tina Lee</a> as her first application with the Firehose Project. </p>
<br />

<p>As you can probably tell, she's still really into 30 Rock. </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%=image_tag 'tina.jpg', class: 'img-fluid' %>
  </div>
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Tina Lee</h2>
    <br />
    <p>
      Tina Lee is a web developer, graphic designer, and freelance artist. She finds talking about herself in the third person awkward, but is working on it.  She previously worked in tailored menswear and looks fantastic in a three piece suit. 
    </p>       
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />